$color-blue: #3AB0FF;
$color-dark-blue: #1C6DD0;
$color-white: #F9F9F9;
$color-silver: #DFDFDE;
$color-gray: #C8C6C6;
$color-light-black: #393E46;
$color-red: #FF5959;
$color-black: #212121;
$default-font: "Nunito", sans-serif;

.page-header {
  display: flex;
  padding: 5px;
  background: $color-blue;
  align-items: center;

  h1 {
    margin-inline: 20px;
    color: $color-white;
    cursor: pointer;
    user-select: none;
  }

  nav {
    margin-left: 20px;

    a {
      margin-inline: 10px;
      color: $color-white;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.main-container {

  > .content {
    max-width: 1400px;
    margin: 0 auto;

    > header {
      padding: 30px 35px 20px 35px;
    }
  }
}

.weather-dashboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;

  .weather-card {
    box-shadow: 0 0 10px -7px $color-black;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    min-width: 210px;
    margin-inline: 10px;
    margin-block: 10px;
    transition: 0.3s ease;

    &:hover {
      box-shadow: 0 0 15px -7px $color-black;
    }

    header {
      text-align: center;
      margin-bottom: 30px;

      img {
        width: 150px;
      }
    }

    .content {
      p {
        margin: 0;
        font-size: 14px;
        font-style: italic;

        span {
          font-weight: bold;
          font-size: 16px;
          margin-right: 5px;
          font-style: normal;
        }
      }
    }
  }

  .refresh {
    padding: 10px 100px;
    margin-top: 50px;
  }

  .loading-container {
    width: 100%;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 150px;
      height: 50px;
    }
  }
}