.page-header {
  display: flex;
  padding: 5px;
  background: #3AB0FF;
  align-items: center; }
  .page-header h1 {
    margin-inline: 20px;
    color: #F9F9F9;
    cursor: pointer;
    user-select: none; }
  .page-header nav {
    margin-left: 20px; }
    .page-header nav a {
      margin-inline: 10px;
      color: #F9F9F9;
      text-decoration: none;
      cursor: pointer; }

.main-container > .content {
  max-width: 1400px;
  margin: 0 auto; }
  .main-container > .content > header {
    padding: 30px 35px 20px 35px; }

.weather-dashboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px; }
  .weather-dashboard .weather-card {
    box-shadow: 0 0 10px -7px #212121;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    min-width: 210px;
    margin-inline: 10px;
    margin-block: 10px;
    transition: 0.3s ease; }
    .weather-dashboard .weather-card:hover {
      box-shadow: 0 0 15px -7px #212121; }
    .weather-dashboard .weather-card header {
      text-align: center;
      margin-bottom: 30px; }
      .weather-dashboard .weather-card header img {
        width: 150px; }
    .weather-dashboard .weather-card .content p {
      margin: 0;
      font-size: 14px;
      font-style: italic; }
      .weather-dashboard .weather-card .content p span {
        font-weight: bold;
        font-size: 16px;
        margin-right: 5px;
        font-style: normal; }
  .weather-dashboard .refresh {
    padding: 10px 100px;
    margin-top: 50px; }
  .weather-dashboard .loading-container {
    width: 100%;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .weather-dashboard .loading-container img {
      width: 150px;
      height: 50px; }

/*# sourceMappingURL=home.css.map */
