.authorization-page {
  background-size: 100%;
  background: url("/public/images/authorization-background.jpg") no-repeat fixed center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center; }

.authorization-form-container {
  padding: 20px;
  background-color: #F9F9F9;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 0 0 50px -10px black;
  max-width: 400px;
  width: 100%;
  margin: 20px; }
  .authorization-form-container header {
    text-align: center;
    margin-bottom: 5px; }
  .authorization-form-container .form {
    width: 100%; }

/*# sourceMappingURL=authorization.css.map */
