@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Oswald:wght@700&family=Raleway:wght@200;500;600&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.button {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 30px;
  border-radius: 3px;
  transition: 0.3s ease;
  text-decoration: none; }

.blue-button {
  background: #3AB0FF;
  color: #F9F9F9; }
  .blue-button:hover {
    background: #1C6DD0; }

.form {
  min-width: 320px;
  width: 100%; }
  .form .form-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .form .form-group .form-item {
      display: inline-flex;
      flex-direction: column;
      width: 100%;
      padding: 5px; }
      .form .form-group .form-item .checkbox-container {
        display: flex;
        align-items: center;
        user-select: none; }
        .form .form-group .form-item .checkbox-container > input {
          width: auto !important;
          margin: 0 5px 0 0 !important;
          cursor: pointer; }
        .form .form-group .form-item .checkbox-container > label {
          margin: 0;
          cursor: pointer; }
      .form .form-group .form-item label {
        font-size: 14px;
        margin-bottom: 2px;
        user-select: none; }
      .form .form-group .form-item input:not([type='submit']), .form .form-group .form-item textarea, .form .form-group .form-item select {
        border: 1px solid #DFDFDE;
        border-radius: 3px;
        font-size: 15px;
        padding: 7px;
        outline: none;
        color: #393E46; }
      .form .form-group .form-item .error-input {
        border: 1px solid #FF5959 !important; }
      .form .form-group .form-item .error-message {
        color: #FF5959;
        font-size: 14px;
        margin-top: 2px; }
    .form .form-group .submit-container {
      margin-top: 10px; }

.page-not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .page-not-found > .content {
    display: flex; }
    .page-not-found > .content img {
      max-width: 700px; }
    .page-not-found > .content .info {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center; }
      .page-not-found > .content .info h1 {
        font-size: 5em; }
      .page-not-found > .content .info h2 {
        font-size: 2em; }
      .page-not-found > .content .info p {
        color: #C8C6C6; }

/*# sourceMappingURL=index.css.map */
