@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Oswald:wght@700&family=Raleway:wght@200;500;600&display=swap');

$color-blue: #3AB0FF;
$color-dark-blue: #1C6DD0;
$color-white: #F9F9F9;
$color-silver: #DFDFDE;
$color-gray: #C8C6C6;
$color-light-black: #393E46;
$color-red: #FF5959;
$default-font: "Nunito", sans-serif;

body {
  padding: 0;
  margin: 0;
  font-family: $default-font;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.button {
  font-family: $default-font;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 30px;
  border-radius: 3px;
  transition: 0.3s ease;
  text-decoration: none;
}

.blue-button {
  background: $color-blue;
  color: $color-white;

  &:hover {
    background: $color-dark-blue;
  }
}

.form {
  min-width: 320px;
  width: 100%;

  .form-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .form-item {
      display: inline-flex;
      flex-direction: column;
      width: 100%;
      padding: 5px;

      .checkbox-container {
        display: flex;
        align-items: center;
        user-select: none;

        > input {
          width: auto !important;
          margin: 0 5px 0 0 !important;
          cursor: pointer;
        }

        > label {
          margin: 0;
          cursor: pointer;
        }
      }

      label {
        font-size: 14px;
        margin-bottom: 2px;
        user-select: none;
      }

      input:not([type='submit']), textarea, select {
        border: 1px solid $color-silver;
        border-radius: 3px;
        font-size: 15px;
        padding: 7px;
        outline: none;
        color: $color-light-black;
      }

      .error-input {
        border: 1px solid $color-red !important;
      }

      .error-message {
        color: $color-red;
        font-size: 14px;
        margin-top: 2px;
      }
    }

    .submit-container {
      margin-top: 10px;
    }
  }
}

.page-not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  > .content {
    display: flex;

    img {
      max-width: 700px;
    }

    .info {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 5em;
      }

      h2 {
        font-size: 2em;
      }

      p {
        color: $color-gray;
      }
    }
  }
}